<html>
    <head> 
      <title>API - FLAMI - DOC</title>
      <%= stylesheet_link_tag "style" %>
    </head>
    <body class="container">
      <h1 class="header" align="center">API - FLAMI - DOC</h1>
      <hr>
      <div class="letter">
        <p>To view the documentation of an endpoint, please select any</p>   
      </div>
      <div class="row" align="center">
        <div class="column">
            <ul class="list">
              <li><a class="button" href="">User</a></li>
              <li><a class="button" href="">Flavors</a></li>
              <li><a class="button" href="">Categories</a></li>  
              <li><a class="button" href="">Additionals</a></li>
            </ul>
        </div>
        <div class="column">
            <ul class="list">
              <li><a class="button" href="">Dispatch Area</a></li>
              <li><a class="button" href="">Modifiers</a></li>
              <li><a class="button" href="">Products</a></li>
            </ul>           
        </div>        
      </div>       
    </body>
</html>