.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.header {
    padding: 15px;
}
.letter {
    font-size: 20px;
}
.column {
    float: left;
    width: 50%;
}
 
.row:after {
    content: "";
    display: table;
    clear: both;
}
.button {
    background-color: transparent;
    color: #6fb435!important;
    border: 2px solid #6fb435;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px;
    font-size: 25px;
}
.button:hover {
    background-color: #6fb435!important;
    color: white!important;
    text-decoration: none;
}
.list li{
    list-style: none;
    margin: 50px; 
}